@{
  Layout = "_Layout";
}

<h1>Welcome to Hair Salon!</h1>
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all Clients types", "Index", "Clients")</p>
@* <p>@Html.ActionLink("Search Now", "Search", "Restaurants")</p> *@